:root {
    --iris:#4D5AE5;
    --ocean: #404BBF;
    --navy-blue:#2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD; 
}

button {color:var(--iris);
background-color: var(--cloud);}


body {font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}
header{
    background-color: white;

}
.highlight {color: #4D5AE5;}
.logo {font-size: 16px;
text-decoration: none;
text-transform: uppercase;}

.first-section {background-color: black;}
a {text-decoration: none;}
a:hover, button:hover {}