:root {
    --iris:#4D5AE5;
    --ocean: #404BBF;
    --navy-blue:#2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD; 
    --black: #000;
    --white: #fff;

}

button {color:var(--white);
background-color: var(--iris);
cursor: pointer;}


body {font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    line-height: 1.6;
    background-color: #FFFFFF;
}
header{
    background-color: var(--white);

}
.highlight {color: var(--navy-blue);}
.logo {font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
text-transform: uppercase;}
.link {text-decoration: none;}
.list {list-style: none;}
.list-first {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navy-blue);}
.list-first:hover,
.list-first:focus {color: var(--ocean);}
.adres {font-style: normal;}
.contact {line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);}
.first-section {background-color: var(--navy-blue);
    color: var(var(--white));}
h1 {color: var(--white);}

button:hover, button:focus {background-color: var(--ocean);}
.page-footer {background-color: var(--navy-blue);
color: var(--white);}
.footer-text {color: var(--cloud);}

h3 {color: var(--navy-blue, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;}

    p {color: var(--slate, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;}